@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-footer">
<a asp-controller="Admin" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id"
class="btn btn-primary"> Add or Remove Users from this Role
</a>
</div>